<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>中敌机(2).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>中敌机(3).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{815,2},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>中敌机(4).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>中敌机.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{66,56}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>中敌机（刚开始爆炸）.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{679,2},{66,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,62}}</string>
                <key>sourceSize</key>
                <string>{66,62}</string>
            </dict>
            <key>大敌机(3).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1372,181},{272,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,177}}</string>
                <key>sourceSize</key>
                <string>{272,177}</string>
            </dict>
            <key>大敌机(4).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1098,132},{272,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,177}}</string>
                <key>sourceSize</key>
                <string>{272,177}</string>
            </dict>
            <key>大敌机(5).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{824,98},{272,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,177}}</string>
                <key>sourceSize</key>
                <string>{272,177}</string>
            </dict>
            <key>大敌机(6).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{550,66},{272,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,177}}</string>
                <key>sourceSize</key>
                <string>{272,177}</string>
            </dict>
            <key>大敌机(刚开始爆炸).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{276,60},{272,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,177}}</string>
                <key>sourceSize</key>
                <string>{272,177}</string>
            </dict>
            <key>大敌机(爆炸2).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,43},{272,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,177}}</string>
                <key>sourceSize</key>
                <string>{272,177}</string>
            </dict>
            <key>大敌机.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,2},{272,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,177}}</string>
                <key>sourceSize</key>
                <string>{272,177}</string>
            </dict>
            <key>小敌机(2).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>小敌机(3).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>小敌机(刚开始爆炸).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>小敌机.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{39,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,42}}</string>
                <key>sourceSize</key>
                <string>{39,42}</string>
            </dict>
            <key>我方战机 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{56,50}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,50}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>我方战机 (爆炸).jpg</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>暂停.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{62,61}</string>
            </dict>
            <key>死亡.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1320,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>氧气罐.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{34,56}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,35},{34,56}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>界面框.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,181},{431,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{431,358}}</string>
                <key>sourceSize</key>
                <string>{431,368}</string>
            </dict>
            <key>界面框2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{458,305}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{458,305}}</string>
                <key>sourceSize</key>
                <string>{460,311}</string>
            </dict>
            <key>界面框3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>确定.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{138,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{138,51}}</string>
                <key>sourceSize</key>
                <string>{142,53}</string>
            </dict>
            <key>继续.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,2},{175,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{175,101}}</string>
                <key>sourceSize</key>
                <string>{187,107}</string>
            </dict>
            <key>继续1.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{70,70}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>蓝色的子弹0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>蓝色的子弹0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>蓝色的子弹0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>蓝色的子弹0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>蓝色的子弹0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,12}}</string>
                <key>sourceSize</key>
                <string>{12,12}</string>
            </dict>
            <key>重新开始.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,2},{118,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,94}}</string>
                <key>sourceSize</key>
                <string>{118,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>图包.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02c304d90b2c416302e18af59ae25b09$</string>
            <key>textureFileName</key>
            <string>图包.png</string>
        </dict>
    </dict>
</plist>
